.navbar {
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 150px;
  width: 100%;
  transition: all 0.3s ease;
}

.glass {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: all 0.3s ease;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 28px;
  font-weight: 600;
  background: linear-gradient(135deg, var(--p), var(--p3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-decoration: none;
}

.navBtn {
  background: linear-gradient(135deg, var(--p), var(--p3));
  box-shadow: 0 8px 25px var(--shadow);
  outline: none;
  color: #ffffff;
  border: none;
  padding: 12px 40px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.navBtn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.navRight {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.creditBox {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 3px 18px;
  border-radius: 100px;
}

.coinIcon {
  width: 38px;
  height: 38px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #FFD700, #ffb300);
  color: #111;
  font-size: 20px;
  box-shadow:
    0 0 15px rgba(255, 215, 0, 0.45),
    inset 0 2px 5px rgba(255, 255, 255, 0.5);
}

.creditContent {
  display: flex;
  flex-direction: column;
}

.creditLabel {
  font-size: 11px;
  color: var(--txt2);
  font-weight: 600;
  letter-spacing: 0.5px;
}

.creditValue {
  font-size: 15px;
  font-weight: 700;
  color: #ffb300;
}

@media (max-width: 480px) {
  .navbar {
    padding: 15px 20px;
  }

  .logo {
    font-size: 25px;
    gap: 0px;
  }

  .navRight {
    gap: 0px;
  }

  .navBtn {
    padding: 10px 22px;
    font-size: 13px;
    font-weight: 700;
  }

  .creditBox {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 3px 18px;
    border-radius: 100px;
  }

  .coinIcon {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

  .creditLabel {
    font-size: 10px;
    font-weight: 700;
  }

  .creditValue {
    font-size: 13px;
    font-weight: 800;
  }
}